
hs_err_pid8280.log
AD元件库12.8元2019.0410
__Previews
PCB_Project\Project Logs for PCB_Project
PCB_Project\History

*.Zip
*.LOG
*.drc
Lock_PCB/PCB_Project/Project Outputs for PCB_Project/Design Rule Check - Lock_5chanel.html
SLAVER/
LockConnect/PCB_Project/Project Outputs for PCB_Project/Design Rule Check - PCB_CONNECT.html
